* {
  box-sizing: border-box;
}
.accent, .project h2, .bio h2 {
  font-family: 'Permanent Marker', cursive;
}


body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  background-color: #D5D6D8;
  text-align: center;
  line-height: 1.5;
}

.hero {
  padding: 40px 0 80px;
}

nav, footer {
  padding: 1% 0;
  background-color: rgb(0, 0, 0);
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  
}

.name {
  display: inline;
  margin: 5px 0px 5px 15px;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(orange,red,green,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.name a {
  color: white;
  text-decoration: none;
}

.links {
  display: inline;
  justify-content: right;
  margin: 5px;
  padding: 0;
}

li {
  display: inline;
}

li a {
  display: inline;
  padding: 8px;
  color: white;
  text-decoration: none;
}

header img {
  width: 50%;
}

section {
  min-height: 200px;
  padding: 4% 0;
  background-color: #bbb;
}

section:nth-child(odd) {
  background-color: #ddd;
}

.bio p {
  text-align: left;
  margin: 0 auto 0;
  padding: 0 5px;
  max-width: 900px;
}

.project img {
  display: block;
  margin: 0 auto 0;
}

.project a {
  padding: 0 20px 0;
}
footer .accent {
  background: linear-gradient(orange,red,green,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgb(155, 104, 9);
}

/* phone screen */
@media screen and (min-width: 320px) {
  .bio p, .project p {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
    margin: 20px 0 0;
  }

  h2 {
    font-size: 26px;
  }

  header img {
    width: 100%;
  }

  .hero {
    padding: 30px 0 30px;
  }

  .project img {
    display: block;
    margin: 0 auto 0;
    width: 100%;
  }

  .name {
    font-size: 16px;
    font-weight: bold;
    align-self: center;

    float: left;
    padding: 10px;
  }
 
  .links {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    font-size: 14px;

  }

  li {
    display: block;
    text-align: right;
  }

  .navBar{
    display: inline-block;
  }

  .burgerIcon {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
  }
  .burgerIcon:hover {
    color: red;
  }
  .links a:hover {
    color: limegreen;
  }
   
}  
  
/*tablet screen*/
@media screen and (min-width: 550px) {
   .bio p, .project p {
    font-size: 18px;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0 20px;
  }

  h2 {
    font-size: 28px;
  }

  header img {
    width: 100%;
    margin: 20px 0 20px;
  }

  .hero {
    padding: 30px 0 30px;
  }

  .project img {
    display: block;
    margin: 0 auto 0;
    width: 80%;
  }
  .name {
    font-size: 18px;
    font-weight: bold;
    float: left;
  }

  .links {
    display: inline;
    justify-content: right;
    margin: 5px;
    padding: 0;
    font-size: 16px;
    align-self: center;
  }

  .burgerIcon {
    color: white;
    padding: 10px;
    display: flex; 
  }
  
.navBar {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;  
}

li {
  display: block;
}
  
}

/*desktop screen*/
@media screen and (min-width: 900px) {
  .links {
    font-size: 18px;
  }

  .bio p, .project p {
    font-size: 20px;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0 0;
  }

  h2 {
    font-size: 28px;
  }

  header img {
    width: 600px;
    height: 450px;
    margin: 0px 0 0px;
  }
  
  .name {
    font-size: 20px;
    float: left;
  }

  .hero {
    padding: 30px 0;
  }

  .project img {
    display: block;
    margin: 0 auto 0;
    width: 400px;
    height: 430px;
  }
  
}